work
target
.svn
.classpath
.project
.settings
*/nb-configuration.xml
nb-configuration.xml
*.iml
*/*.iml
*.ipr
*.iws
bin
generated-sources
.checkstyle
.idea
hostkey.ser
*.xml~
/eclipse-classes
.vscode/
.factorypath
