Andrey Myatlyuk <myatlyuk@gmail.com>           kukido <myatlyuk@gmail.com>
Anthony A. Chin <anthony.a.chin@ericsson.com>  eweichi <anthony.a.chin@ericsson.com>
Hugo Arès <hugo.ares@ericsson.com>             Hugo Ares <hugo.ares@ericsson.com>
Joel Huttunen <joel.huttunen@aalto.fi>         Jonux <joel.huttunen@aalto.fi>
Øyvind Harboe <oyvind.harboe@zylin.com>        Øyvind Harboe <Oyvind.Harboe@Emerson.com>
Øyvind Harboe <oyvind.harboe@zylin.com>        Oyvind Harboe <oyvind.harboe@zylin.com>
rinrinne <rinrin.ne@gmail.com>                 rin_ne <rinrin.ne@gmail.com>
Robert Sandell <rsandell@cloudbees.com>        Robert Sandell <robert.sandell@sonyericsson.com>
Robert Sandell <rsandell@cloudbees.com>        Robert Sandell <robert.sandell@sonymobile.com>
Robert Sandell <rsandell@cloudbees.com>        Robert Sandell <sandell.robert@gmail.com>
Robert Sandell <rsandell@cloudbees.com>        rsandell <sandell.robert@gmail.com>
Robert Sandell <rsandell@cloudbees.com>        RSandell <sandell.robert@gmail.com>
Robert Sandell <rsandell@cloudbees.com>        Sandell, Robert <robert.sandell@sonyericsson.com>
Robert Sandell <rsandell@cloudbees.com>        Sandell, Robert <robert.sandell@sonymobile.com>
Scott Hebert <scott.hebert@ericsson.com>       escoheb <scott.hebert@ericsson.com>
Sergey Vidyuk <vestnik@jenkinsdev.(none)>      vestnik <vestnik@jenkinsdev.(none)>
Tom Fennelly <tom.fennelly@gmail.com>          tfennelly <tom.fennelly@gmail.com>
Tomas Westling <tomas.westling@sonymobile.com> thomas.westling <thomas.westling@sonyericsson.com>
Tomas Westling <tomas.westling@sonymobile.com> Thomas Westling <thomas.westling@sonyericsson.com>
Tomas Westling <tomas.westling@sonymobile.com> Tomas Westling <thomas.westling@sonyericsson.com>
Tomas Westling <tomas.westling@sonymobile.com> Westling, Thomas <thomas.westling@sonyericsson.com>
Tomas Westling <tomas.westling@sonymobile.com> Westling, Tomas <tomas.westling@sonymobile.com>
